http_archive(
    name = "csv-parser",
    build_file = "@//:csv-parser.BUILD",
    sha256 = "550681980b7012dd9ef64dc46ff24044444c4f219b34b96f15fdc7bbe3f1fdc6",
    strip_prefix = "csv-parser-6fb1f43ad43fc7962baa3b0fe524b282a56ae4b0",
    urls = ["https://github.com/vincentlaucsb/csv-parser/archive/6fb1f43ad43fc7962baa3b0fe524b282a56ae4b0.zip"],
)


[submodule "abseil-cpp"]
	path = abseil-cpp
	url = https://github.com/abseil/abseil-cpp/
